<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <!-- Exo number 2 time :
    -> Créer une phrase secrete accessible via un mot de passe
        -> Un input pour entrer un mot de passe
            -> Si l'input est vide : on demande à l'utilisateur.ice d'entrer un mp
            -> Si l'input n'est pas vide, mais que le mp est faux, on affiche 'mp incorrect'
            -> Si le mp est bon, on affiche la phrase secrète
   ->
-->

    <label>Mot de Passe</label>
    <input v-model="user_input">

    <p v-if="user_input === password" class="text-primary">{{ secret }}</p>
    <p v-else-if="!user_input" class="text-secondary">Veuillez entrer un mot de passe</p>
    <p v-else class="text-warning">Mot de passe incorrect</p>

    <!-- IMPORTANT
    Lorsqu'on utilise v-model - ici on lit notre él input avec la var user_input,
    la valeur de la variable se modifie en direct quand l'utilisateur entre quelque chose dans le formulaire.
    Pour faire une comparaison avec une valeur donnée - password -, il faut donc enregistrer
    séparément sa valeur, dans une autre variable.
    Ici -> user_input représente ce que tape le user, sa valeur est variable, et est comparée avec la valeur fixe de password
    -->
</div>

<script>
    const vm = new Vue({
        el: '#app',
        data: {
            user_input: undefined, // ce que tape l'utilisateur
            password: 'Fortuna Major', // valeur fixe a laquelle on compare user_input
            secret: 'Il y a des dragons dans GoT' // le message qu'on affiche dans un <p> si user_input est égale à password
        },
        methods: {
        }
    })
</script>

</body>
</html>
